 .parent{
    background-color: bisque;
 }
 .maindiv fdiv,img{
    height: 60px;
    width: 60px;
}
.maindiv{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right    : 50px;
}
.head{
    margin-left: 400px;
    font-size: 40px;
}
.para{
    margin: 10px 100px;
}
.tag{
    
    margin: 10px 400px;
      
}
#t1{
  width: 30px;
  padding: 10px 10px;
  margin-right: 5px;
  background-color: rgb(216, 11, 11);
 
   font-weight: bold;
   border: none;
   box-shadow: 1px 2px 1px gray;
   font-size: 12px;
}
#t2{
    width: 80px;
    padding: 10px 10px;
    margin-right: 5px;
    font-weight: bold;
   border: none;
   box-shadow: 1px 2px 1px gray;
   font-size: 12px;
}
#t3{
    width: 50px;
    padding: 10px 10px;font-weight: bold;
    border: none;
    box-shadow: 1px 2px 1px gray;
    font-size: 12px;
  }
  .bom img{
 height: 300px;
 width: 400px;
 margin: 10px 300px;
  }

.second{
    
    background-color: rgb(127, 47, 47);
    height: 500px;
}
#h1{
   padding: 10px 400px;
}
#pa{
    margin: 10px 100px;
    color: white;
}
.main{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
.audi img{
    height: 90px ;
    width: 100px;
}
.video img{
    height: 90px;
    width: 100px;
}
#fir{
    margin-left: 40px;
}
#for{
    margin-left: 40px;
}
#b3{
   margin-left: 60px;
    padding: 10px 20px;
    background-color: rgb(224, 188, 176);
    color: white;
    box-shadow: 2px 3px 2px gainsboro;
    border: none;
}
#b4{
    margin-left: 60px;
     padding: 10px 20px;
     background-color: rgb(224, 188, 176);
     color: white;
     box-shadow: 2px 3px 2px gainsboro;
     border: none;
 }



